:root{
    --backgroundColor: #222;
    --textColor: #eee;
}
body{
    margin: 0;
    background-color: hsl(from var(--backgroundColor) h s calc(l - 10));
    color: var(--textColor);
    font-family: sans-serif;
}
section{
    background-color: var(--backgroundColor);
    margin: 1rem;
    padding: 1rem;
    border-radius: 0.5rem   ;
}
input,select, textarea, button{
    background-color: inherit;   
    color: inherit;
    border-radius: 0.25rem;
}
header{
    background-color: var(--backgroundColor);
    display: flex;
    justify-content: center;

}
header img{
    height: 4rem;
}
main section h1{
    text-align: center;
}
table{
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}
td, th{
    border: 1px solid;
    padding: 0.25rem 0.5rem;
}
form{
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}